extends layout.pug

block content
  h2 Recently changed/added
  ul
    li Oct 10, 2020: Updated for the 2020 season
    li
      a(href='/top10') Top 10
    li Twitter share button
    li
      a(href='/changelog') Changelog
    li Navigation on all pages
    li Links to athlete pages of members
