footer
  i(class='fas fa-hammer')
  | &nbsp;by&nbsp;
  a(href='https://games.crossfit.com/athlete/349338')
    img(alt='Carsten Ringe', src='https://profilepicsbucket.crossfit.com/63a76-P349338_1-184.jpg',width=32,height=32)
